<div style="background-color: rosybrown; width: 25vw; margin-left: 20px; margin-top: 10px;">
        <h3 class="middle"> Plus and Minus </h3>
        <div class="Rtable Rtable--5cols">
    
            <div class="Rtable-cell">
                <div *ngIf="menuItemSelected">
                    {{menuItemSelected.left}}
                </div>
            </div>
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell equal"> = </div>
            <div class="Rtable-cell">
                <span *ngIf="menuItemSelected">
                    {{menuItemSelected.right}}
                </span>
            </div>
    
        </div>
        <div class="Rtable Rtable--5cols">
    
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell equal"> = </div>
            <div class="Rtable-cell"></div>
    
        </div>
        <div class="Rtable Rtable--5cols">
    
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell equal"> = </div>
            <div class="Rtable-cell"></div>
    
        </div>
        <div class="Rtable Rtable--5cols">
    
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell equal"> = </div>
            <div class="Rtable-cell"></div>
    
        </div>
        <div class="Rtable Rtable--5cols">
    
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell equal"> = </div>
            <div class="Rtable-cell"></div>
    
        </div>
        <div class="Rtable Rtable--5cols">
    
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell"><h3></h3></div>
            <div class="Rtable-cell equal"> = </div>
            <div class="Rtable-cell"></div>
    
        </div>
</div>
<div style="background-color: aqua; width: 25vw; margin-left: 20px; margin-top: 10px;">
    <h3 class="middle"> Transformation </h3>
    <div class="Ltable Ltable--5cols">

        <div class="Ltable-cell"><h3></h3></div>

    </div>
    <div class="Ltable Rtable--5cols">

        <div class="Ltable-cell"><h3></h3></div>

    </div>
    <div class="Ltable Rtable--5cols">

        <div class="Ltable-cell"><h3></h3></div>

    </div>
    <div class="Ltable Ltable--5cols">

        <div class="Ltable-cell"><h3></h3></div>

    </div>
    <div class="Ltable Ltable--5cols">

        <div class="Ltable-cell"><h3></h3></div>

    </div>
    <div class="Ltable Ltable--5cols">

        <div class="Ltable-cell"><h3></h3></div>

    </div>
</div>